.title {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 60px;
    font-weight: bold;
    color: #FFFFFF;
    margin-left: 50px;
}
.menu {
    display: inline-block;
    float: right;
}

.title,menu {
    background-size: cover;
    background-color: #CDDC39;
    border: 20px;
}

.menu ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

.menu ul li {
    display: inline-block;
}

.menu ul li a {
    padding: 0 20px;
    display: block;
    line-height: 50px;
}

.menu li:hover{
    background-color: #CDDC39;
}

form {
    margin-top: 50px;
}

body {
    background-image: url("background.jpg");
    background-blend-mode:darken;
}

h1 {
    text-align-last: center;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color: #FFFFFF;
}

h2 {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color: #FFFFFF;
    opacity: 90%;
    margin-left: 50px;
}

textarea {
    border-radius: 10px;
    border-style: hidden;
    background-color: #93c069;
    margin-left: 50px;
    border-width: 2px;
    opacity: 70%;
}

p {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color: #FFFFFF;
    margin-left: 50px;
    font-size: smaller;
}

button {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    padding-left: 100px;
    border-radius: 6px;
    background: #cec548;
    border : none;
    color: #FFFFFF;
    text-align: center;
    text-transform: uppercase;
    font-size: 22px;
    padding: 10px;
    width: 160px;
    transition: all 0.4s;
    cursor: pointer;
    margin: 5px;
 }
